/src/appunesp/node_modules
!/src/appunesp/node_modules/.gitkeep
.idea
src/lab/node_modules
src/appunesp/credentials.js
src/appunesp/__tests__
.vscode
dev/home
dev/node_modules
dev/src
dev/dev
dev/lab/node_modules
dev/lab/npm-debug.log
